# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python Virtual Environment
/series_temporales_env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
docs/~$*.pptx
src/notebooks/Analisis_DTW_GNI.ipynb.bak
